.events-container {
    padding: 1rem;
    margin: 1.25rem auto;
    width: 95%;

    border-radius: 8px;
    background: #00000048;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.events-container h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.search-results-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 equal-width columns */
    gap: 1rem;
    padding: 1rem;
}

.search-criteria-display {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}

.event-card {
    padding: 1rem;
    margin: 0;
    border-radius: 10px;

    background: linear-gradient(
        to right,
        color-mix(in srgb, var(--away-color) 50%, transparent),
        color-mix(in srgb, var(--away-color-alt) 50%, transparent),
        color-mix(in srgb, var(--home-color-alt) 50%, transparent),
        color-mix(in srgb, var(--home-color) 50%, transparent)
    );
    backdrop-filter: blur(6px);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.7);

    transition: transform 0.2s ease;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-card:hover .hover-indicator {
    display: block;
    bottom: -9px;
    width: 150px;
}

.event-container {
    display: flex;
    justify-content: center;
    min-height: 165px;
}

.event-stats {
    order: 2;
    display: flex;
    margin-bottom: .25rem;
}



.event-status {
    padding: .5rem auto;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-details {
    padding: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    background: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(6px);
}

.team-details {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    background:  rgba(0 , 0 , 0 , 0.4);
    backdrop-filter: blur(6px);
}





.event-team-logo-away {
    width: 100px;
    height: 100px;
    object-fit: fill;
    background: linear-gradient(to bottom right, var(--away-color) 10%, var(--away-color-alt) 90%);
}

.event-team-logo-home {
    width: 100px;
    height: 100px;
    object-fit: fill;
    background: linear-gradient(to bottom left, var(--home-color) 10%, var(--home-color-alt) 90%);
}

.team-name-text {
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: #fff;
}

.event-status-text {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: #ccc;
}

.score-text {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: #ccc;
}

.team-winner-text {
    font-weight: bold;
    font-size: 12px;
    color: #28a745;
}

.live-text {
    font-weight: bold;
    color: red;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.live-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

.event-name-text {
    margin: 2px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.event-date-text {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: #ccc;
}

