.league-container {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 30%;

    border-radius: 8px;

    background: #00000027;
    box-shadow: 0 4px 6px #0000009f;
    backdrop-filter: blur(6px);
}

.league-container h2 {
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}

.available-leagues {
    padding: 1rem;

    border-radius: 8px;

    background:  rgba(0 , 0 , 0 , 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.card-content {
    
}

.form-field {
    display: flex;
    justify-content: center;
}

.icon-container {
    text-align: center;
    transition: transform 0.2s ease;
}

.icon-container:hover {
    transform: scale(1.1);
}

.icon-wrapper {
    position: relative;
}

.test-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: opacity 0.2s ease;
}

.test-icon:hover {
    opacity: 0.8;
}

.hover-indicator {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 5px;
    background-color: rgba(255, 215, 0, 1);
    border-radius: 5px;
    display: none;
    animation: linear 1s infinite running slide-in;
}

.icon-container:hover .hover-indicator {
    display: block;
}

.refresh-button,
.weekly-history {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background: rgba(0 , 0 , 0 , 0.4);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.refresh-button:hover,
.weekly-history:hover {
    background: rgba(255, 255, 255, 0.4);
}

.hidden {
    display: none;
}